custom.css
<TEXT>

/* Global */
body {
    background: #F1F1F1;
}

/* A-FRAME */
.clickable {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

div.a-enter-ar {
  visibility: hidden;
}

#preload {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #F1F1F1;
}

#wrapper-dialogues {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    padding: 10px;
    width: 90%;
    max-width:800px;
    height:60%;
    overflow:scroll;
    overflow-x: hidden;
  }

/* Scalebar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*button style */
.button {
  background-color: #F1F1F1;
  border-style: double;
  border-radius: 8px;
  border-color: red;
  color: red;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 3px 3px;
  cursor: pointer;
}

/* texts */
#intro {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: 2;
  font-size: 1.5em;
  color: black;
  text-align: center;
  padding:10px;
}

/* Media */
.video {
  position:fixed;
    width:auto; height:auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-height:70%;
}

.header {
  position:relative;
    top: 0;
    width: 100%;
    margin: auto;
}

.socialimg {
  position:fixed;
    width:auto; height:auto;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-height:70%;
}

@media screen and (max-width: 768px) {
  #intro {
    font-size: 1.2em;
  }
  #monologue {
    font-size: 1.2em;
  }
  #video-sub {
    top: 80%;
    font-size: 1em;
  }
  #chat-fr {
    font-size: 1.2em;
  }
  #chat-re {
    font-size: 1.2em;
  }
  .video {
    width:100%; height: auto;
  }

  .socialimg {
    width:100%; height: auto;
  }

  @media screen and (max-width: 350px) {
    #intro {
      font-size: 1em;
    }
    #monologue {
      font-size: 1em;
    }
    #video-sub {
      font-size: 0.8em;
    }
    #chat-fr {
      font-size: 1em;
    }
    #chat-re {
      font-size: 1em;
    }

    /* Scalebar */
    ::-webkit-scrollbar {
      width: 6px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
      background: inherit;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: black;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }


/* hidden ar button */
div.a-enter-ar {
  visibility: hidden;
}
